*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
}

.box{
    display: block;
    background: steelblue;
    width: 55px;
    height: 55px;
    margin: 10px 0;
    margin-left: 5px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}

.container{
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid lightcoral;
}

/* Por su tipo */
/* .box:only-of-type{
    background: tomato;
} */

/* .box:first-of-type{
    background: tomato;
} */

/* .box:last-of-type{
    background: tomato;
} */

/* .box:nth-last-of-type(2){
    background: tomato;
} */

/* PSEUDOCLASES CHILD */
/* .box :only-child{
    background: tomato;
} */

/* div:first-child{
    background: tomato;
} */

/* div:last-child{
    background: tomato;
} */

/* div:nth-child(2){
    background: crimson;
} */

.container :nth-last-child(2){
    background: crimson;
}