*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enlace {
    display: block;
    background: tomato;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-bottom: 3px solid #ebd1bd;
}

/*PRACTICA 1*/
.enlace:link{
    background: burlywood;
    color: #000;
}

.enlace:visited{
    background: crimson;
}

.enlace:hover{
    padding: 40px 20px;
    font-size: 20px;
    transition: .3s;
}

.enlace:active{
    background: steelblue;
    color: #fff;
}

/*PRACTICA 2*/
.event{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    background: crimson;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.event:active{
    padding: 23px;
}

#objetivo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    background: steelblue;
}

#objetivo:target{
    margin-left: 150px;
    transition: 1s;
}

/* PRACTICA 3 */
.form{
    width: 80%;
    margin: 30px auto;
    background: #f2f2f2;
    box-shadow: 0 0 5px #0008;
    padding: 30px;
}

.form:focus-within{
    background: darksalmon;
}

.form__title{
    text-align: center;
    margin-bottom: 20px;
}

input{
    display: block;
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 12px 5px;
    margin-bottom: 20px;
    border: none;
}

input[type="checkbox"]{
    display: inline-block;
}

input:focus{
    background: rgba(220, 20, 60, 0.356);
}

input[type="checkbox"]:checked + label{
    background: crimson;
    color: #fff;
}

h3{
    font-size: 2rem;
    font-weight: normal;
    font-family: Arial;
    text-align: center;
    margin-bottom: 30px;
}

h3:not(.title){
    color: crimson;
}

h3:not(:hover){
    text-decoration: line-through;
}