*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

/* .opinion{
    width: 70%;
    margin: 40px auto;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.502);
}

.title{
    font-size: 30px;
}

.text{
    font-size: 20px;
} */

.container{
    /* max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px; */
    width: 300px;
    height: 300px;
    background: steelblue;
    margin: 30px auto;
}

.children{
    width: 90%;
    height: 50px;
    background: crimson;
}