@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
  height: 150vh;
}

.background {
  background-image: 
    linear-gradient(to top, #3877ff83, #429aff89),
    url('./img/hero.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;

  position: relative;
}

.container {
  position: relative;
  top:200px;
  display: block;
  width: 800px;
  margin: 0 auto;
}

.title {
  padding: 20px;
  margin: 0 auto;
  font-size: 40pt;
}

.content {
  font-weight: 300;
  font-size: 25pt;
  padding: 10px;
}

.cta {
  background-color: white;
  color: #5b52ff;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  display: block;
  margin: 20px auto;
  font-weight: bold;
  font-size: 15pt;
}

.cta:hover {
  background-color:#5b52ff;
  color: #fff;
  transition: .4s;
}

.wave {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
}