*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(img/textura.png); */
    display: flex;
    justify-content: space-evenly;
}

.container{
    width: 70%;
    height: 300px;
    margin: 30px auto;
    background: rgb(100, 100, 250);
    /* background-image: url(img/sun.png), url(img/spidy.png); */
    background-image: url(img/cloud.png);
    background-repeat: no-repeat;
    /* background-position: top 10px right 30px; */
    background-position: center;
    background-image: url(img/spidy.png);
    background-size:200px 100px;
}

.atachment{
    /* margin-top: 40px; */
    width:100%;
    /* height: 400px; */
    height: 100vh;
    background-image: url(img/img-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fixed{
    background-attachment: fixed ;
}

.title{
    font-size: 70px;
    font-family: Arial;
    text-align: center;
    color: #fff;
    margin-top: 100px;
} 

.space{
    height: 3000px;
}