*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 400px;
    margin: 30px auto;
    background: steelblue;
    background-image: 
        /* linear-gradient(to top left, crimson, steelblue); */
        linear-gradient(crimson 30%, steelblue);
}

.header{
    padding: 0.1px;
    height: 600px;
    background-image:
        linear-gradient(#4683b480, #dc143c81), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size: 60px;
    text-align: center;
    margin-top: 270px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}