*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 45px 0;
    color: rgb(255, 255, 255);
    background: rgba(78, 14,138,.575);
    background: #1b95aa81;

}

.title{
    color: inherit;
}