body{
    margin: 0;
}

.box{
    /* border: 1px solid black; */
    /* padding: 10px; */
    /* margin: 10px; */
    width: 200px;
    height: 100px;
}

.box1{
    width: 100%;
    background: steelblue;
    margin-bottom: 50px;
    /* padding: 0.1px; */
    border: 1px solid transparent;
}

.header{
    background: gold;
    height: 40px;
    margin-top: 40px;
}

.box2{
    background: tomato;
    margin-top: 40px;
}