*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: #f2f2f2;
}

.card{
    width: 350px;
    /* height: 300px; */
    margin: 30px auto;
    background-image: linear-gradient(to top, #39205898, #330867ab), url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px #00000079;
}

.title{
    padding: 8px;
    font-size: 20px;
    border-bottom: 3px solid white;
}

.text{
    padding: 10px 0 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.bold{
    font-weight: bold;
}

.cta{
    display: inline-block;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin: 13px 0 0;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}