*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f2f2f2;
}
.card{
    width: 300px;
    background: whitesmoke;
    border-radius: 7px;
    margin: 30px auto;
    padding: 0.1px;
    box-shadow: 5px 5px 10px #0000009c;

}

.img{
    width: 300px;
    border-radius: 7px 7px 0 0;
    display: block;
}

.title{
    text-align: center;
    padding: 20px 0 0;
    color: #b82423;
}

.text{
    padding: 10px;
    text-align: center;
}

.cta{
    text-decoration: none;
    background: #b82424;
    color: white;
    padding: 12px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 5px auto 20px;
    border-radius: 5px;

}

.goku{
    width: 300px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(10px 10px 40px gold);
}