@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --color-price: #26293A;
  --color-features:#9c9191;
  --color-boton: #fff; 
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(360deg, var(--color-price) 50%, #fff 50%);
  flex-wrap: wrap;
}

.card__item {
  max-width: 350px;
  width: 30%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  text-align: center;
  padding: 40px 0;
  background: #fff;
  border-radius: 10px;
  /* flex: 1 1 300px; */
}

.card__item--active {
  background: #5175ff;
  --color-price: #fff;
  --color-features: #fff;
  --color-boton: #26293A;
}

.card__plan {
  color: var(--color-price);
  margin-bottom: 20px;
}

.card__price {
  font-size: 3rem;
  color: var(--color-price);
}

.card__feature {
  color: var(--color-features); 
  margin-bottom: 25px;
}

.card__feature--margin {
  margin: 30px 0 50px;
}

.card__feature:nth-last-of-type(1) {
  margin-bottom: 50px;
}

.card__cta {
  display: inline-block;
  background: var(--color-price);
  color: var(--color-boton);
  width: 190px;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 40px;
}

@media screen and (max-width:880px) {
  .card {
    background: #fff;
    gap: 40px;
  }
  .card__item {
    width: 45%;
    /* margin: 40px 0; */
  }
}

@media screen and (max-width:500px) {
  .card__item {
    width: 90%;
  }
}