@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --height-nav: 50px;
  --nav-color: #0F3A67;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  /* height: 100vh; */
  /* color: #0F3A67;
  color: #6C6BFF; */
}

.hero {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  background-color: var(--nav-color);
  color: #fff;
  /* height: var(--height-nav); */
  /* height: fit-content; */
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: var(--height-nav); */
}

.nav__links {
  height: var(--height-nav);
  display: flex;
  align-items: stretch;
}

.nav__link {
  text-decoration: none;
  line-height: var(--height-nav);
  color: #fff;
  margin: 10;
  padding: 0 15px;
}

.nav__link:hover {
  background-color: #fff;
  color: var(--nav-color);
}

.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero__title {
  font-size: 2.4rem;
}

.hero__paragraph {
  font-size: 1.2rem;
}

.hero__cta {
  background-color: #534aff;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 7px;
  padding: 10px 15px;
  width: fit-content;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.hero__img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.hero__picture {
  min-width: 300px;
  max-width: 500px;
  flex-basis: 50%;
}


@media screen and (max-width:900px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .hero__picture {
    order: -1;

  }
}
