*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
.container1{
    background-image: url(img/hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0.1px;
}

.container1__h2{
    color: white;
    background-color: black;
    display: block;
    box-sizing: content-box;
    width: 270px;
    padding: 30px ;
    margin: 40vh auto;
    text-align: center;
    font-weight: 500;
}

.container2__h2{
    text-align: center;
    font-weight: 500;
    margin-top: 60px;
}

.container2__p{
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 300px;
    font-size: 15px;
}

.container3{
    background-image: url(img/fondo1.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0.1px;
}
.container3__h2{
    color: white;
    display: block;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 600px;
}

.container4__h2{
    text-align: center;
    font-weight: 500;
    margin-top: 60px;
}

.container4__p{
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 300px;
    font-size: 15px;
}

.container5{
    background-image: url(img/fondo2.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0.1px;
}

.container5__h2{
    color: white;
    line-height: 100vh;
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px ;
    font-weight: 500;
}