@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

.gallery {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

.gallery__title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__picture {
  flex: 350px;
  /* flex-basis: 350px; */
  /* flex-grow: 1;
  flex-shrink: 1; */
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}